common/
.idea/
java/.gradle/
java/gradle/
java/gradlew
java/gradlew.bat
java/out/
java/src/test/
config/configtx/*
config/crypto-config/
config/ca-crypto-config/
config/logs/
dist/
node_modules/
app/cryptoKeyStore